<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="librarie, magazin, banda desenata, benzi desenate, carte, carti, manga, carte in engleza, carti in engleza">
        <meta name="description" content="Librarie online pentru carti in engleza, benzi desenate si manga.">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <%- include("../fragmente/head") %>  
        <title>FansTOME</title>   
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>
    <br>
    <!-- <header class="c1" id="titlu" >
        
    </header> -->
    <main>
        <div id="grid-butoane" class="row">

            <div class="col-3">
                <label> Nume: <input type="text" id="inp-nume" class="form-control" placeholder="ex: <%= locals.produse[3].nume.split(' ')[0] %>"></label><br><br> 
                <!-- DAU SPLIT DOAR PENTRU PRIMUL CUVANT DIN TITLU -->
                <div class="btn-group" role="group" id="container-butoane"> Autor:<!-- trebuie sa aiba acelasi name ca sa formeze un grup -->
                    <p>
                        <input id="i_rad1" value="A-J" name="gr_rad" type="radio" class="btn-check">
                        <label class="btn btn-outline-primary" for="i_rad1">A-J</label>
                    </p>
                    <p>
                        <input id="i_rad2" value="K-S" name="gr_rad" type="radio" class="btn-check">
                        <label class="btn btn-outline-primary" for="i_rad2">K-S</label>
                    </p>
                    <p>
                        <input id="i_rad3" value="T-Z" name="gr_rad" type="radio" class="btn-check">
                        <label class="btn btn-outline-primary" for="i_rad3">T-Z</label>
                    </p>
                    <p>
                        <input id="i_rad4" checked name="gr_rad" value="toate" type="radio" class="btn-check">
                        <label class="btn btn-outline-primary" for="i_rad4">Toti</label>
                    </p>
                </div><br><br>
                <div id="range-slider">
                    <span class="range-lim">(<%- locals.pret_min %>)</span>
                    <label><input type="range" id="inp-pret" step="0.1" value="<%- locals.pret_min %>" min="<%- locals.pret_min %>"  max="<%- locals.pret_max %>" class="form-range"> 
                        <span id="infoRange">(<%- locals.pret_min %>)</span>
                    </label>
                    <span class="range-lim">(<%- locals.pret_max %>)</span>
                </div>
                
                <br><br>
            </div>

            <div class="col-2">
                <label>Select simplu:
                    <select id="inp-categorie" class="form-select">
                        <option id="sel-toate" selected value="toate">toate</option>
                        <% for (let opt of locals.optiuni) { %>
                            <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                        <% } %>
                    </select>
                </label><br><br>
                <label>Select multiplu:
                        <select id="inp-an" class="form-select" multiple>
                            <% for (let an of locals.ani) { %>
                                <option selected value="<%- an  %>"><%- an  %> </option>
                            <% } %>
                        </select>
                    </label>
                </div>

            <div class="col-3">
                <p>
                    <div class="form-floating">
                        <textarea id="desc-caut" class="form-control py-5 " placeholder="cautare"></textarea>
                        <label for="desc-caut">Cuvant de ex: <%= locals.produse[5].descriere.split(' ')[1] %></label>
                    </div>
                </p>
                <p>
                    <input type="checkbox" id="check-disp" class="btn-check" autocomplete="off">
                    <label for="check-disp" class="btn btn-outline-primary">
                        <i class="bi bi-check2-square"></i>
                        <span class="span-label">Vizualizare doar produse disponibile</span>
                    </label>
                </p>
                <p>
                    <label for="input-datalist" class="form-label">Cauta dupa ISBN:</label>
                    <input list="isbn-list" id="inp-datalist" class="form-control">
                    <datalist id="isbn-list">
                        <% for (let cod of locals.isbn) { %>
                            <option value="<%- cod.isbn  %>"><%- cod.isbn  %> </option>
                        <% } %>
                    </datalist>
                </p>
            </div>

            <div class="col-3" id="container-sortari">
                <p class="btn-group-vertical">
                    <button id="sortCrescNume" class="btn btn-outline-primary">
                        <i class="bi bi-sort-alpha-down"></i>
                        <span class="span-label">Sorteaza crescator dupa pret si nume</span>
                    </button> <br>
                    <button id="sortDescrescNume" class="btn btn-outline-primary">
                        <i class="bi bi-sort-alpha-down-alt"></i>
                        <span class="span-label">Sorteaza descrescator dupa pret si nume</span>
                    </button>
                </p>
            </div>
            
            <div class="col-1">
                <p class="btn-group-vertical">
                    <button id="filtrare" class="btn btn-block btn-default btn-outline-primary">
                        <i class="bi bi-funnel"></i>
                        <span class="span-label">Filtreaza</span>
                    </button> <br>
                    <button id="resetare" class="btn btn-block btn-default btn-outline-primary">
                         <i class="bi bi-arrow-clockwise"></i>
                        <span class="span-label">Reseteaza</span>
                    </button>
                </p>
            </div>
        </div>
            <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p>
        
        <section id="produse">
            <h2>Produse</h2>
            <p id="count-produse"></p>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" >
                        <i class="bi bi-stars" id="icon-ieftin">Ieftin!</i>
                        <!-- <p class="categorie">Tip coperta: <span class="val-categorie"><%- prod.tip_coperta%></span></p> -->
                        <figure>
                            <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>"  alt="[imagine <%- prod.nume %>]" class="img-prod"/></a>
                        </figure>
                        <h3 class="nume"><a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <p class="autor">Autor: <span class="val-autor"><%- prod.autor%></span></p>
                        <!-- <p class="categorie">Tip coperta: <span class="val-categorie"><%- prod.tip_coperta%></span></p> -->
                        <div class="info-prod">
                            <!-- <p class="autor">Autor: <span class="val-autor"><%- prod.autor%></span></p> -->
                            <p class="categorie">Tip coperta: <span class="val-categorie"><%- prod.tip_coperta%></span></p>
                            <p class="isbn">ISBN: <span class="val-isbn"><%- prod.isbn%></span></p>
                            <p class="pret">Pret: <span class="val-pret"><%- prod.pret%> RON</span></p>
                            <p class="data">An aparitie: <span class="val-data"><%= new Date(prod.data_aparitie).getFullYear() %></span></p>
                            <p class="desc">Descriere: <span class="val-desc"><%- prod.descriere%></span></p>
                            <p class="disp">Disponibilitate: <span class="val-disp"><%= prod.disponibil ? 'disponibil' : 'indisponibil' %></span></p>
                            <!-- <p class="latime">Latime: <span class="val-latime"><%- prod.latime%> cm</span></p>
                            <p class="lungime">Lungime: <span class="val-lungime"><%- prod.lungime%> cm</span></p> -->
                        </div>
                        
                        
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                    </article>
                <% }%>
            </div>
            <p id="mesaj-prod">Nu exista produse conform filtrarii curente.</p>
        </section>
    </main>
    <br>
    <%- include("../fragmente/footer") %>
    </body>
</html>